div {
  box-sizing: border-box;
  border: 1px solid black;
}

.menu {
  display: inline-block;
  top: 0px;
  width: 80%;
  background-color: #F5F5EE;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

.item {
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

.foodDescription {
  float: left;
  width: 75%;
  height: 100px;
}

.addToCart {
  float: right;
  width: 25%;
  height: 100px;
}

.updateForm {
  margin: 25% auto;
}

.inputBox {
  width: 20%;
}

.checkout {
  display: inline-block;
  top: 0px;
  width: 20%;
  height: 200px;
}