html {
  background-color: #eee;
}

div {
  box-sizing: border-box;
}

.app {
  position: relative;
}

.menu {
  width: 75%;
  background-color: #FFF;
  padding: 5px 20px 40px 20px;
  margin: auto 1% 20px 1%;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.item {
  position: relative;
  width: 100%;
  border-radius: 5px;
}

.item h3, .item p {
  margin: 10px 20px;
}

.foodDescription {
  width: auto;
  margin-right: 110px;
}

.addToCart {
  position: absolute;
  width: 110px;
  top: 0px;
  right: 0px;
}

.updateForm {
  margin: 25% auto;
}

.inputBox {
  width: 20%;
}

.checkout {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20%;
  height: 200px;
  margin: auto 1%;
  background-color: #FFF;
  border-radius: 5px;
}

.checkout h3 {
  text-align: center;
}

.checkout ul {
  padding-left: 20px;
  height: 100px;
}

.checkout input {
  float:right;
  clear:both;
  margin-right: 5px;
}

.checkout li {
  list-style-type: none;
}